---
// src/pages/[...slug].astro
import { getCollection, render, type CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import Newsletter from '../components/Newsletter.astro';
import { getEntrySlugPath } from '../utils/post-path';
import Section from '../components/Section.astro';
import SectionHeader from '../components/SectionHeader.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map((entry: CollectionEntry<'posts'>) => {
    const slugPath = getEntrySlugPath(entry);

    return {
      params: { slug: slugPath },
      props: { entry },
    };
  });
}

interface Props {
  entry: CollectionEntry<'posts'>;
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BaseLayout
  title={entry.data.title + ' - Otávio Miranda'}
  description={entry.data.description}
  image={entry.data.image}
>
  <Header />

  <ThemeToggle />

  <Section id='post-content' class='article-section' contentClass='section-blog'>
    <article class='article markdown-body article-body'>
      <header class='post-header'>
        <h1 class='post-title'>{entry.data.title}</h1>
        <div class='post-meta'>
          {
            entry.data.author && (
              <span class='post-author'>{entry.data.author}</span>
            )
          }
          {
            entry.data.date && (
              <time class='post-date' datetime={entry.data.date.toISOString()}>
                {entry.data.date.toLocaleDateString('pt-BR', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric',
                })}
              </time>
            )
          }
        </div>
      </header>

      <Content />
    </article>
  </Section>

  <Newsletter />
  <Footer />
</BaseLayout>

<style>
  .post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacings-sm-100) var(--spacings-sm-500);
    color: hsl(from var(--main-clr-shade) h 10% 50% / 1);
    font-size: var(--font-size-sm);
  }
</style>
