---
import Section from './Section.astro';
import SectionHeader from './SectionHeader.astro';
import Course from './Course.astro';
import { COURSES } from '../config/courses';

const HOSTINGER_SLUG = 'hostinger';
---

<Section id='courses' theme='light' contentClass='section-courses'>
  <SectionHeader
    eyeball='Escolha sua stack'
    title='Cursos de programação'
    description='Domine tecnologias como Python, JavaScript, TypeScript e React. Metodologia focada na prática para te levar do zero à sua primeira vaga de desenvolvedor.'
  />

  <div class='courses-grid'>
    {
      COURSES.map(course =>
        course.imageSrc.includes(HOSTINGER_SLUG) ? (
          <Course
            href={course.href}
            imageSrc={course.imageSrc}
            imageAlt={course.imageAlt}
            title={course.title}
          >
            Além da qualidade da infraestrutura, a Hostinger ainda disponibiliza
            <strong style='color: var(--glow-clr-1)'>+10% de desconto</strong>
            com o cupom
            <strong style='color: var(--glow-clr-1)'>OTAVIOMIRANDA</strong>.
          </Course>
        ) : (
          <Course
            href={course.href}
            imageSrc={course.imageSrc}
            imageAlt={course.imageAlt}
            title={course.title}
          >
            {course.description}
          </Course>
        ),
      )
    }
  </div>
</Section>

<style>
  /*
Section courses
*/

  .section-courses {
    max-width: 180rem;
    margin: 0 auto;
    padding-bottom: 8rem;
  }

  .courses-grid {
    perspective: 1200px;
    transform-origin: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 380px), 1fr));
    /* Added min(100%, ...) to prevent overflow on mobile displays */
    grid-auto-flow: row dense;
    gap: clamp(var(--spacings-sm-900), 4vw, var(--spacings-lg-400));

    perspective: 1000px;
    transform-style: preserve3d;
  }
</style>
